<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<label>
  <f:translate key="tx_kurzgaesteanmeldung_domain_model_guestdata.language_code"/>
  *
</label>
<div class="radio">
  <label class="radio-inline">
    <f:form.radio property="visitRequestData.Visitors.GuestData.0.LanguageCode" value="en"/>
    <f:translate key="tx_kurzgaesteanmeldung_domain_model_guestdata.language_code.en"/>
  </label>
  <label class="radio-inline">
    <f:form.radio property="visitRequestData.Visitors.GuestData.0.LanguageCode" value="de"/>
    <f:translate key="tx_kurzgaesteanmeldung_domain_model_guestdata.language_code.de"/>
  </label>
</div>

<label>
  <f:translate key="tx_kurzgaesteanmeldung_domain_model_visitrequestdata.related_visit"/>*</label>
<div class="radio">
  <label class="radio-inline">
    <f:form.radio property="visitRequestData.ShowOnWelcomeMonitor" value="showOnWelcomeMonitor" />
    <f:translate key="tx_kurzgaesteanmeldung_domain_model_visitrequestdata.related_visit.customer_welcome_monitor"/>
  </label>
  <label class="radio-inline">
    <f:form.radio property="visitRequestData.ShowOnWelcomeMonitor" value="Lieferanten/Besucher (ohne Bildschirmbegrüssung)"/>
    <f:translate
            key="tx_kurzgaesteanmeldung_domain_model_visitrequestdata.related_visit.customer_without_welcome_monitor"/>
  </label>
  <label class="radio-inline">
    <f:form.radio property="visitRequestData.ShowOnWelcomeMonitor" value="Handwerker (ohne Bildschirmbegrüssung)"/>
    <f:translate key="tx_kurzgaesteanmeldung_domain_model_visitrequestdata.related_visit.delivery"/>
  </label>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label for="anrede">
        <f:translate key="tx_kurzgaesteanmeldung_domain_model_persondata.gender_type"/>
      </label>
      <f:form.select class="form-control" id="anrede" property="visitRequestData.Visitors.GuestData.0.GenderType">
        <f:form.select.option value="Undefined">Undefined</f:form.select.option>
        <f:form.select.option value="Male">Male</f:form.select.option>
        <f:form.select.option value="Female">Female</f:form.select.option>
      </f:form.select>
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <label for="vorname" class="lbl-text">
        <f:translate key="tx_kurzgaesteanmeldung_domain_model_persondata.first_name"/>
      </label>
      <f:form.textfield class="form-control" size="20" id="vorname"
                        property="visitRequestData.Visitors.GuestData.0.FirstName"/>
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <label for="name" class="lbl-text">
        <f:translate key="tx_kurzgaesteanmeldung_domain_model_persondata.last_name"/>
      </label>
      <f:form.textfield class="form-control" size="20" id="name"
                        property="visitRequestData.Visitors.GuestData.0.LastName"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label for="firma" class="lbl-text">
        <f:translate key="tx_kurzgaesteanmeldung_domain_model_guestdata.company"/>
      </label>
      <f:form.textfield class="form-control" size="20" id="firma"
                        property="visitRequestData.Visitors.GuestData.0.Company.Name"/>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <label for="country" class="lbl-text">
        <f:translate key="tx_kurzgaesteanmeldung_domain_model_enterprisedata.country"/>
      </label>
      <f:form.textfield class="form-control" size="20" id="country"
                        property="visitRequestData.Visitors.GuestData.0.Company.Country"/>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="street" class="lbl-text">
        <f:translate key="tx_kurzgaesteanmeldung_domain_model_enterprisedata.street"/>
      </label>
      <f:form.textfield class="form-control" size="20" id="street"
                        property="visitRequestData.Visitors.GuestData.0.Company.Street"/>
    </div>
  </div>

  <div class="col-md-1">
    <div class="form-group">
      <label for="zip" class="lbl-text">
        <f:translate key="tx_kurzgaesteanmeldung_domain_model_enterprisedata.zip"/>
      </label>
      <f:form.textfield class="form-control" size="20" id="zip"
                        property="visitRequestData.Visitors.GuestData.0.Company.Zip"/>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <label for="city" class="lbl-text">
        <f:translate key="tx_kurzgaesteanmeldung_domain_model_enterprisedata.city"/>
      </label>
      <f:form.textfield class="form-control" size="20" id="city"
                        property="visitRequestData.Visitors.GuestData.0.Company.City"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="scheduleTime" class="lbl-text">
        <f:translate key="tx_kurzgaesteanmeldung_domain_model_visitrequestdata.schedule_time"/>
      </label>
      <f:form.textfield property="visitRequestData.ScheduleTime" additionalAttributes="{autocomplete:'off'}" class="form-control" size="20" id="scheduleTime"
                        placeholder="dd-mm-yyyy H:i"/>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="exitTime" class="lbl-text">
        <f:translate key="tx_kurzgaesteanmeldung_domain_model_visitrequestdata.exit_time"/>
      </label>
      <f:form.textfield property="visitRequestData.ScheduledExitTime" additionalAttributes="{autocomplete:'off'}" class="form-control" size="20" id="exitTime"
                        placeholder="dd-mm-yyyy H:i"/>
    </div>
  </div>
</div>
<div>
  <p style="font-size: 14px;">Falls mehr als ein Besucher angemeldet werden soll, tragen Sie bitte wie gewohnt den
    ersten Besucher in das Formular ein <br>Alle weiteren Besucher können Sie über die Hochlade Funktion als Dokument zu
    Verfügung stellen</p>

</div>
<div class="row">
  <div class="col-md-12">
    <p>DOKUMENT HOCHLADEN (FALLS MEHR ALS EIN BESUCHER ANGEMELDET WERDEN SOLL):</p>
    <p>
      <f:form.upload property="file" value="{file}"
                     additionalAttributes="{accept :'application/vnd.ms-excel, text/csv, application/pdf, application/msexcel, text/comma-separated-values'}"/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label for="parkplatz-type-ja">Reservierung Kundenparkplatz</label>
    <div class="form-group">
      <label class="radio-inline">
        <f:form.radio property="additionalData.isParking" id="parkplatz-type-ja" value="1"/>
        Ja
      </label>
      <label class="radio-inline">
        <f:form.radio id="parkplatz-type-nein" property="additionalData.isParking" value="0"/>
        Nein
      </label>
    </div>
  </div>

  <div class="col-md-4">
    <label for="wifi-type-ja">W-Lan Zugriff *</label>
    <div class="form-group">
      <label class="radio-inline">
        <f:form.radio property="additionalData.isWifi" id="wifi-type-ja" value="1"/>
        Ja
      </label>
      <label class="radio-inline">
        <f:form.radio id="wifi-type--nein" property="additionalData.isWifi" value="0"/>
        Nein
      </label>
    </div>
  </div>

  <div class="col-md-4">
    <label for="produktions-guided-tour-type-ja">Produktionsführung (Fürth) *</label>
    <div class="form-group">
      <label class="radio-inline">
        <f:form.radio property="additionalData.isProduktionsGuidedTour" id="produktions-guided-tour-type-ja" value="1"/>
        Ja
      </label>
      <label class="radio-inline">
        <f:form.radio id="produktions-guided-tour-type-nein" property="additionalData.isProduktionsGuidedTour"
                      value="0"/>
        Nein
      </label>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-4">
    <label class="lbl-text spacer">Besprechungszimmer reserviert *</label>
    <div class="form-group">
      <label class="radio-inline">
        <f:form.radio property="additionalData.isMeetingRoom" id="besprechungszimmer-type-ja" value="1"/>
        Ja
      </label>
      <label class="radio-inline">
        <f:form.radio id="besprechungszimmer-type-nein" property="additionalData.isMeetingRoom" value="0"/>
        Nein
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <label for="besprechungszimmer">
      <f:translate key="tx_kurzgaesteanmeldung_domain_model_visitrequestdata.location_name"/>
    </label>
    <div class="form-group">
      <f:form.textfield class="form-control" size="20" id="besprechungszimmer" property="visitRequestData.Building"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <label for="name" class="lbl-text">Ansprechpartner intern*</label>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="anrede">Vorname*</label>
      <f:form.textfield class="form-control" size="20" id="ansprechpartner"
                        property="visitRequestData.Employee.FirstName"/>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="vorname" class="lbl-text">Nachname*</label>
      <f:form.textfield class="form-control" size="20" id="besprechungszimmer"
                        property="visitRequestData.Employee.LastName"/>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="name" class="lbl-text">E-Mail*</label>
      <f:form.textfield class="form-control" size="20" id="email" property="visitRequestData.Employee.EMailAddress"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <label for="name" class="lbl-text">Voranmelder:</label>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="anrede">Vorname*</label>
      <f:form.textfield class="form-control" size="20" id="ansprechpartner"
                        property="visitRequestData.Announcer.FirstName"/>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="vorname" class="lbl-text">Nachname*</label>
      <f:form.textfield class="form-control" size="20" id="besprechungszimmer"
                        property="visitRequestData.Announcer.LastName"/>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="name" class="lbl-text">E-Mail*</label>
      <f:form.textfield class="form-control" size="20" id="email" property="visitRequestData.Announcer.EMailAddress"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="sonstiges" class="lbl-text">Sonstiges </label>
      <f:form.textarea class="form-control" rows="6" cols="30" id="sonstiges" property="additionalData.miscellaneous"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="options">
        <f:form.checkbox id="receive-copy" property="receiveCopy" value="1"/>
        Ich möchte dieses Formular als E-Mail Kopie erhalten
      </label>
    </div>
  </div>
</div>

<f:form.hidden property="visitRequestData.LocationName" value="DEFU"/>
</html>