<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Besuchsanfrage</title>
</head>
<body>
<div>
  <p>Sehr geehrte Damen und Herren,<br /><br />es wurde folgende Besuchsanfrage angelegt:<br /><br />
    <b>Termin: {VisitDate}</b><br /><br />
    Bei der Besuchsanfrage wurden folgende Daten aufgenommen:
  </p>
  <f:if condition="{Employee}">
    <h4>Besuchsempfänger:</h4>
    <ul>
      <li>Anrede: {Employee.GenderType}</li>
      <li>Name: {Employee.FirstName} {Employee.LastName}</li>
      <li>E-Mail: {Employee.EMailAddress}</li>
    </ul>
  </f:if>

    <f:if condition="{EmployeeDeputy}">
      <h4>Vertretung Besuchsempfänger:</h4>
      <ul>
        <li>Name: {EmployeeDeputy.FirstName} {EmployeeDeputy.LastName}</li>
        <li>E-Mail: {EmployeeDeputy.EMailAddress}</li>
      </ul>
    </f:if>

  Teilnehmende Besucher:

  <f:for each="{GuestData}" as="guest">
    <ul>
      <li>
        <f:if condition="{guest.Gendertype}">
          <f:then>
            <f:if condition="{guest.Gendertype} == 'Male'">
              <f:then>Herr</f:then>
              <f:else>Frau</f:else>
            </f:if>
          </f:then>
        </f:if>
        {guest.FirstName} {guest.LastName}
      </li>
    </ul>
  </f:for>


  <f:if condition="{AddInfo}">
    <f:then>
      <h4>Zusätzliche Information:</h4>
      {AddInfo}
    </f:then>
  </f:if>


  <h4>Achtung:</h4>
    <p>Diese Email wurde automatisch generiert und enthält keine Signierung.</p>

</div>
</body>
</html>