<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="content">
  <div class="container">
    <div class="form-enclose">
      <h3>Gästeanmeldung für den Empfang</h3>
      <div id="modalFormErrors" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
           aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div style="padding:20px;" class="modal-content">
            <f:flashMessages/>
            <f:render partial="FormErrors"/>
          </div>
        </div>
      </div>
      <f:form action="create" class="form-section" enctype="multipart/form-data" name="newVisitFormRequestData"
              object="{newVisitFormRequestData}">
        <f:render partial="VisitRequestData/FormFields"/>
        <div class="row">
          <f:form.submit class="btn btn-default" value="Submit"/>
        </div>
      </f:form>
    </div>
  </div>
</f:section>
</html>