<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:form.validationResults>
  <f:if condition="{validationResults.flattenedErrors}">
		<f:debug>{validationResults.flattenedErrors}</f:debug>
		<h2 class="error">Bitte füllen Sie die folgenden Felder vollständig aus: </h2>
		<ul>
				<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="propertyErrors" iteration="iterator">

					<f:for each="{propertyErrors}" as="propertyError">
						<li class="form__field-error">
							<f:translate key="validator.{propertyPath}.{propertyError.code}" default="{propertyError}" />
						</li>
					</f:for>
				</f:for>
		</ul>

		<v:asset.script  name="inlinejs" dependencies="jquery">
			<!-- tag content - may be ignored! -->
			$( document ).ready(function() {
					$('#modalFormErrors').modal('show');
			});
		</v:asset.script>

  </f:if>
</f:form.validationResults>


</html>